body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 70px;
    background-color: black;
    color: #788490;
}

header{   
    background-image: url(../images/Latveria.jpg);
    background-color: #788490;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 100%;
    overflow-wrap: break-word;
    
}

header h1{
    color: black;
    font-size: 75px;
    text-align: center;
}

h1, h2{
    font-family: 'Mate SC', serif;
}
header img{
    width: 500px;
    border-radius: 250px;
    border: 7px solid black;
    text-align: center;
    object-fit: scale-down;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    margin: 40px 0 10px;
}

a{
    color: #70a150;
}

a:hover{
    color: #ac9b33;
}

footer{
    color: black;
    background-color: #788490;
    text-align: center;
    padding: 20px;
}

footer p{
    margin: 0;
    overflow-wrap: break-word;
    text-indent: 2px;
}

footer a{
    color: black;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    font-style: italic;
    margin-top: 0;
}

/* Responsive Design */
@media screen and (max-width: 500px) {
    header{
        height: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        padding: 10px;
    }

    header img{
        height: 400px;
        width: 400px;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 400px) {
    header{
        height: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        padding: 10px;
    }

    header img{
        height: 300px;
        width: 300px;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 300px) {
    header{
        height: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        padding: 10px;
    }

    header img{
        height: 200px;
        width: 200px;
        object-fit: scale-down;
    }
}