body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: black;
    color: #788490;
}

header{
    background-color: #788490;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

header h1{
    color: black;
    font-size: 75px;
}

h1, h2{
    font-family: 'Mate SC', serif;
}
header img{
    border-radius: 150px;
    width: 300px;
    border: 7px solid black;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    margin: 40px 0 10px;
}

a{
    color: #70a150;
}

a:hover{
    color: #ac9b33;
}

footer{
    color: black;
    background-color: #788490;
    text-align: center;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: black;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    font-style: italic;
    margin-top: 0;
}